# Local Dev
venv/
__pycache__/
pygameinfo.py
assets/sounds/mp3/
README2*

# Local Build
dist/
build*
run*
createdmg*
makeimages*
*.spec
*.icns
*dmg*

# to remove previously tracked directories/files:
# git rm -r --cached <path>